button.primary {
  font-size: 24px;
  color: #fff;
  line-height: 31.2px;
  font-weight: 400;
  background-color: #0065ff;
  padding: 28px 32px 28px 32px;
  border-radius: 32px;
  transition: 0.3s ease-in-out;
}

button.primary:hover {
  background-color: #3b82f6;
}

button.secondary {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  color: #0065ff;
  padding: 16px;
  border-radius: 16px;
  gap: 8px;
  background-color: #f1f3f5;
  transition: 0.3s ease-in;
}

button.secondary:hover {
  background-color: #dbeafe;
  box-shadow: none;
}

button.isChild {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #475569;
  margin: 0;
  font: inherit;
  font-size: 18px;
}

button.primary.isChild {
  justify-content: center;
  gap: 16px;
  color: #fff;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 699px) {
  button.primary {
    font-size: 16px;
    line-height: 20.8px;
    padding: 18px 20px;
  }

  button.secondary {
    font-size: 14px;
    line-height: 20.8px;
    padding: 12px;
  }

  button.isChild {
    font-size: 14px;
  }
}
