.section7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.magazine-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  /* Remove flex-wrap to ensure a single line */
}

.magazine-div > img {
  /* Add any specific styles for images here */
}

.magazine {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden; /* Hide overflow for scrolling effect */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
