.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px !important;
}

@media (min-width: 700px) {
  .section1 {
    gap: 32px !important;
  }
}
